export MONGODB_DATABASE="landuseplanning"
export MONGODB_SERVICE_HOST="localhost:27017"
export MINIO_HOST="landuseplanning-docs-dev.apps.silver.devops.gov.bc.ca"
export MINIO_ACCESS_KEY=
export MINIO_SECRET_KEY=
export MONGODB_USERNAME=
export MONGODB_PASSWORD=
export _EMAIL_CLIENTID=
export _EMAIL_CLIENT_SECRET=
export SILENCE_DEFAULT_LOG=